#lienzo{
    margin: 30px 30px 30px 30px;
    padding: 18px 18px 18px 18px;
    text-align: center;
    width: fit-content;
    height: 160px;
    border-radius: 10px;
    border:   #1A5276  solid 4px;
    background-color: #5DADE2 ;
    font-style: italic;
    font-size: 20px;
    color: black ;
}



.boton{
    width:100px;
    height: 25px;
    font-size:18px;
    font-style: initial;
    color:black;
    border:#148F77 solid 2px;
}


#resultado{
    background-color:#ffff;
    color: #000000;
    width: 100%;
    height: 30px;
    border: black solid 1px;
    border-radius: 10px;
    font-size: 25px;
}
